div {
  width:400px;
  height:400px ;
  background-image: url("photo_2022-08-22_11-18-54.jpg");
  font-size: 16px;
  background-size: contain;
  padding: 20px;
}

.div1 {
    background-repeat: no-repeat;
  }
  
  .div2 {
    background-repeat: repeat-y;
    background-position: right;
  }
  
  .div3{
    background-repeat: repeat-x;
    background-position: bottom;
  }
  
  .div4 {
    background-repeat: repeat;
  }
