.squerfr{
    width: 200px;
    
    background-color:darkseagreen;
    color: black;
     padding: 20px;
     margin: 8px;
  }
  .squerse{
  
    width: 200px;
    
    background-color: blanchedalmond;
    padding: 20px;
    margin: 8px;
  }
  .squerth{
    width: 200px;
    
    background-color:darkcyan;
    padding: 20px;
    margin: 8px;
  }