div{
    width: 280px;
    height: 260px;
    display: inline-block;
    padding: 25px;
    margin: 10px;
  }
  .div1{
    
   background-color: aliceblue;
   border: 6px solid red;
   
   
  }
  
  
  .div2{
  background-color: blueviolet;
  border: 7px rebeccapurple;
    border-style:   none dotted none dashed ;
    border-color: red;
  
    
  }
  .div3{
    background-color: blanchedalmond;
  border: 7px crimson;
  border-style: dotted none solid none;
  }